body{
	background-image: url("../images/background6.jpg");
	background-repeat: no-repeat;
	background-size: 100% 1000px;
}

h1 {
	font-family: 'Architects Daughter', cursive;
	font-size: 100px;
	background: none;
}

.container{
	font-family: 'Architects Daughter', cursive;
	font-size: 50px;
}

.choiceBtn{
	width: 80%;
}

#choiceD{
	margin-left:-18px;
}

.btnStart{
	width: 400px;
	height: 80px;
	margin-top: 100px;
}

.header {
	text-align: center;
}

.timer{
	margin-top: -90px;
}

#start{
	text-align: center;
}

#questionPage {
	display: none;
	text-align: center;

}

.question{
	font-size: 30px;
}

#answerPage {
	display: none;
	text-align: center;
	font-size: 30px;
}

#resultPage {
	display: none;
	text-align: center;
}